*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  display: flex;
}

.section-left {
  width: 50%;
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.counter {
  width: 250px;
  height: 35px;
  color: white;
  display: flex;
  justify-content: space-between;
  font-family: sans-serif;
  text-align: center;
  line-height: 35px;
}

#counter-prev {
  background-color: #00a8cc;
  opacity: 40%;
  width: 13%;
  border-radius: 17.5px 2px 2px 17.5px;
}

#counter-prev:hover {
  opacity: 70%;
}

#counter-level {
  width: 70%;
  background-color: #0e99b8;
  opacity: 70%;
  font-size: 1.2rem;
  border-radius: 2px;
}

#counter-level:hover {
  opacity: 80%;
}

#counter-next {
  background-color: #00a8cc;
  opacity: 40%;
  width: 13%;
  border-radius: 2px 17.5px 17.5px 2px;
}

#counter-next:hover {
  opacity: 70%;
}

.game {
  width: 80%;
  height: 75%;
  padding-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.el {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  background-color: #0c7b93;
  box-shadow: 0 5px 25px 5px #e3f6f5;
  margin: 10px 20px;
  padding: 0;
  position: relative;
}

.el:hover::after {
  content: '< tag class="klasa1 klasa2" id="id1 id2" >< /tag >';
  font-family: sans-serif;
  font-size: 1.2rem;
  color: white;
  box-sizing: border-box;
  padding: 10px 10px 10px 20px;
  display: block;
  width: 250px;
  height: 90px;
  background-color: #ff2e63;
  position: absolute;
  top: 120px;
  left: 90px;
  z-index: 999;
  border-radius: 2px 45px 45px 25px;
}

.section-right {
  width: 50%;
  height: 100%;
  background-color: #010a43;
  box-shadow: 0 0 20px 1px #010a43;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
}

.title {
  color: #ff9d9d;
  font-size: 2em;
  font-family: sans-serif;
  font-weight: 800;
  margin: 0 0 15px 0;
}

.description {
  color: #f8eeee;
  font-family: sans-serif;
  line-height: 28px;
  font-size: 15px;
}

.description span {
  display: inline-block;
  padding: 1px 8px;
  background-color: rgba(227, 246, 245, 0.25);
  color: white;
  font-weight: 800;
}

.console {
  width: 640px;
  height: 400px;
  margin: 50px 0;
  align-self: center;
  display: flex;
}

.console-numbers {
  width: 6%;
  background-color: rgba(255, 255, 255, 0.3);
  color: white;
  font-size: 1.2em;
  font-weight: 800;
  font-family: sans-serif;
  padding: 0 15px;
  border-radius: 5px 0 0 5px;
}

.console-task {
  width: 94%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background-color: white;
  border-radius: 0 5px 5px 0;
}

.btn {
  width: 120px;
  height: 45px;
  background-color: #ff2e63;
  color: white;
  font-family: sans-serif;
  font-weight: 700;
  border-radius: 8px;
  text-align: center;
  line-height: 45px;
  margin: 10px 30px;
}

/*# sourceMappingURL=main.css.map */
