// IMAGES

.monster1 {
    background-image: url('../images/monster1.svg');
}

.monster2 {
    background-image: url('../images/monster2.svg');
}

.monster3 {
    background-image: url('../images/monster3.svg');
}

.monster4 {
    background-image: url('../images/monster4.svg');
}

.monster5 {
    background-image: url('../images/monster5.svg');
}

.monster6 {
    background-image: url('../images/monster6.svg');
}

.monster7 {
    background-image: url('../images/monster7.svg');
}

.monster8 {
    background-image: url('../images/monster8.svg');
}

.monster9 {
    background-image: url('../images/monster9.svg');
}

.monster10 {
    background-image: url('../images/monster10.svg');
}

.ghost {
    background-image: url('../images/ghost.svg');
}

.dragon {
    background-image: url('../images/dragon.svg');
}

.coronavirus {
    background-image: url('../images/coronavirus.svg');
}

.spreading-virus {
    background-image: url('../images/spreading-virus.svg');
}

.ufo {
    background-image: url('../images/ufo.svg');
}