// IMAGES

.monster1 {
    background-image: url('../images/monster1.svg');
}

.monster2 {
    background-image: url('../images/monster2.svg');
}

.monster3 {
    background-image: url('../images/monster3.svg');
}

.monster4 {
    background-image: url('../images/monster4.svg');
}

.monster5 {
    background-image: url('../images/monster5.svg');
}

.monster6 {
    background-image: url('../images/monster6.svg');
}

.monster7 {
    background-image: url('../images/monster7.svg');
}

.monster8 {
    background-image: url('../images/monster8.svg');
}

.monster9 {
    background-image: url('../images/monster9.svg');
}

.monster10 {
    background-image: url('../images/monster10.svg');
}

.ghost {
    background-image: url('../images/ghost.svg');
}

.coronavirus {
    background-image: url('../images/coronavirus.svg');
}

.infected {
    background-image: url('../images/infected.svg');
}

.hand {
    background-image: url('../images/hand.svg');
}

.dragon {
    background-image: url('../images/dragon.svg');
}

.ufo {
    background-image: url('../images/ufo.svg');
}

.alien {
    background-image: url('../images/alien.svg');
}

.frankenstein {
    background-image: url('../images/frankenstein.svg');
}

.fire {
    background-image: url('../images/fire.svg');
}

.water {
    background-image: url('../images/water.svg');
}

.volcano {
    background-image: url('../images/volcano.svg');
}

.tornado {
    background-image: url('../images/tornado.svg');
}

.flood {
    background-image: url('../images/flood.svg');
}

.fish {
    background-image: url('../images/fish.svg');
}

.whale {
    background-image: url('../images/whale.svg');
}

.orc {
    background-image: url('../images/orc.svg');
}

.vampire {
    background-image: url('../images/vampire.svg');
}

.witch {
    background-image: url('../images/witch.svg');
}

.troll {
    background-image: url('../images/troll.svg');
}

.mummy {
    background-image: url('../images/mummy.svg');
}


