.footer > div {
    text-align: center;
    color: white;
    font-weight: 400;
}

.footer .footer-copyright,
.footer .footer-coffee {
    font-size: 16px;
    margin-top: 3px;
    margin-bottom: 8px;
    opacity: 0.8;

    a {
        display: inline-block;
        color: white;
        background-color: rgba(white, 0.2);
        border-radius: 3px;
        margin: 0 6px;
        padding: 5px 9px 4px 9px;
    }

    .footer-coffee-icon {
        display: inline-block;
        width: 28px;
        height: 28px;
        margin: 0 3px -5px 2px;
        background-image: url("../images/coffee-cup.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }

    .footer-coffee-button {
        background-color: #388e3c;
        font-weight: 500;
        height: 32px;
        padding-right: 20px;
        padding-top: 6px;
        margin: 5px;
        border-radius: 6px;

        &:hover {
            background-color: #4b9c4f;
        }

        .footer-coffee-icon {
            width: 20px;
            height: 20px;
        }
    }
}

.footer .footer-contributions {
    opacity: 0.3;
    font-size: 14px;
    margin-top: 40px;
}

@media (max-width: 1000px) {
    .footer > div {
        margin-left: 20px;
        margin-right: 20px; 
    }
}