.header .header-title {
    color: white;
    opacity: 0.6;
    font-size: 1em;
    font-weight: 600;
    margin: 8px 0 10px 20px;

    &::before {
        content: url("../images/monster8.svg");
        display: inline-block;
        width: 25px;
        height: 25px;
        margin: 7px;
        position: relative;
        top: 5px;
        left: 0;
    }
}

.counter {
    width: 250px;
    height: 35px;
    color: #000b22;
    display: flex;
    justify-content: space-between;
    text-align: center;
    line-height: 35px;
    z-index: 99999;
    box-shadow: -2px 3px 20px 5px #000b22;
    margin-top: 20px;
    position: absolute;
    left: calc(50% - 125px);
    top: 0;
}

#counter-prev {
    background-color: #ff9d9d;
    background-image: url('../images/back.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 18px;
    width: 15%;
    border-radius: 8px 2px 2px 8px;
    opacity: 100%;
    transition: all 0.3s ease;
    cursor: pointer;
    // box-shadow: -2px 3px 10px 0 #000b22;

    &:hover {
        opacity: 80%;
        transition: all 0.3s ease;
    }
}

#counter-level {
    width: 65%;
    background-color: #ffc2c2;
    font-size: 1.3rem;
    font-weight: 600;
    border-radius: 2px;
    // box-shadow: -2px 3px 10px 0 #000b22;
}

#counter-next {
    background-color: #ff9d9d;
    background-image: url('../images/next.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 18px;
    width: 15%;
    border-radius: 2px 8px 8px 2px;
    opacity: 100%;
    transition: all 0.3s ease;
    cursor: pointer;
    // box-shadow: -2px 3px 10px 0 #000b22;
    
    &:hover {
        opacity: 80%;
        transition: all 0.3s ease;
    }
}

.counter-list {
    width: 220px;
    height: 410px;
    background-color: #ffdfdf;
    box-shadow: 2px 2px 20px 5px #000b22a9;
    border-bottom: 7px dashed #ff9d9d;
    border-radius: 0px;
    position: absolute;
    top: 70px;
    left: calc(50% - 110px);
    z-index: 999999999999999;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 20px;
}

.counter-list-none {
    display: none;
}

.counter-list-elements {
    height: 340px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}

.counter-list-el {
    width: 38px;
    height: 38px;
    line-height: 36px;
    background-color: #fac4c4;
    border-radius: 50%;
    text-align: center;
    border: 1.8px solid #000b222d;
    color: #000b22;
    font-size: 20px;
    font-weight: 600;

    &:hover {
        background-color: #ffdfdf;

        // background-color: #ff2e63;
        // color: #ffd4d4;
        // border-color: #ff2e63;
    }
}

.counter-reset {
    font-weight: 500;
    font-size: 1.1em;
    margin-top: 10px;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}

.header .header-share {
    color: white;
    opacity: 0.6;
    font-size: 1em;
    font-weight: 600;
    margin: 12px 20px 10px 0;
    text-align: end;
    display: flex;
    justify-content: flex-end;

    p {
        display: block;
        margin-top: 18px;
        margin-right: 5px;
    }

    div {
        margin: 13px 4px;
        position: relative;
        width: 24px;
        height: 24px;
    }

    .header-twitter {
        background-image: url('../images/twitter24.png');
    }

    .header-facebook {
        background-image: url('../images/facebook24.png');
    }
}

@media (max-width: 765px) {
    .counter {
        top: 60px;
    }

    .counter-list {
        position: absolute;
        top: 130px;
    }
}

@media (max-width: 560px) {
    .counter {
        top: 90px;
    }

    .counter-list {
        position: absolute;
        top: 160px;
    }
}