// SECTION RIGHT
.section-right {
    width: 55%;
    height: 100%;
    // background-color: #000b22;
    // background-color: rgb(1, 10, 67);
    background-color: #142850;
    box-shadow: 0px 0 20px 2px #020235;
    box-shadow: 0 0 20px 2px #000b22;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 5px 30px 40px 40px;
}

.title {
    color: #ff9d9d;
    // color: #FF8704;
    // color: #1ea6c5;
    font-size: 2.2em;
    font-weight: 700;
    margin-bottom: 15px;
    margin-top: 25px;
}

.description {
    color: #c5c4c4;
    line-height: 28px;
    font-size: 1rem;
    width: 95%;
    min-height: 35%;

    li {
        margin: 2px 0;
    }

    .bold {
        display: inline-block;
        padding: 1px 10px;
        background-color: rgba(#33bfdf, 0.15);
        border-radius: 5px;
        color: white;
        font-weight: 600;
        letter-spacing: 0.5px;
    }
}

.console {
    width: 100%;
    height: 45%;
    margin: 50px 0 20px 0;
    align-self: center;
    display: flex;
    box-shadow: 5px 5px 40px 10px #000b22;
}

.console-numbers {
    width: 5%;
    background-color: rgb(223, 223, 223);
    color: #000b229d;
    font-size: 1.2em;
    font-weight: 600;
    padding: 15px 15px;
    border-radius: 5px 0 0 5px;
}

.console-task {
    width: 95%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: white;
    border-radius: 0 5px 5px 0;
}

.console-userinput {
    margin: 8px 10px 10px 15px;

    label {
        font-size: 1rem;
        font-weight: 500;
        color: #000b22a1;
    }

    input[type="text"] {
        font-size: 1rem;
        font-family: 'Roboto', sans-serif;
        color: #000b22;
        margin: 0 5px;
        padding: 10px;
        outline: none;
        border-radius: 5px;
        border: 1px solid white;
        background-color: rgba(221, 218, 218, 0.479);
        width: 350px;
    }
}

form {
    display: flex;
    flex-direction: column;
}

.console-output {
    display: block;
    width: 90%;
    height: 70px;
    color: white;
    font-size: 25px;
    border-radius: 10px;
    margin-left: 5%;
    margin-bottom: 15px;
    text-align: center;
    line-height: 70px;
    border: 3px dashed #000b22;
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
}

.console-btn {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.btn {
    width: 160px;
    height: 45px;
    color: white;
    font-weight: 700;
    font-size: 18px;
    border-radius: 8px;
    text-align: center;
    line-height: 45px;
    margin: 0 30px 30px 30px;
    box-shadow: 2px 4px 7px 0px grey;
    cursor: pointer;
    transition: all 0.5s ease;
}

.check-btn {
    background-color: #FF9721;
    margin: 15px 0;
    outline: none;
    border: none;
    align-self: center;
    // background-color: #0c7b93;

    &:hover {
        background-color: #ffa41b;
        transition: all 0.5s ease;
    }
}

.next-btn {
    background-color: #ff2e62b7;
    box-shadow: 4px 4px 10px 0px #000b22;
    margin-right: 48px;

    &:hover {
        background-color: #ff2e63;
        transition: all 0.5s ease;
    }
}

@media (max-width: 1000px) {
    .section-right {
        width: 100%;
        height: 55vh;
    }
}
