// SECTION RIGHT
.section-right {
    width: 55%;
    // margin: auto 0;
    // background-color: #000b22;
    // background-color: rgb(1, 10, 67);
    background-color: #142850;
    // box-shadow: 0px 0 20px 2px #020235;
    box-shadow: 0 0 20px 2px #000b22;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 15px 30px 45px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.title {
    color: #ff9d9d;
    // color: #FF8704;
    // color: #1ea6c5;
    font-size: 2.2em;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 25px;
}

.description {
    color: #c5c4c4;
    line-height: 28px;
    font-size: 1.1em;
    width: 98%;
    height: 390px;

    li {
        margin: 2px 0;
    }

    .bold {
        display: inline-block;
        padding: 2px 15px;
        margin: 0 3px;
        background-color: rgba(#fff, 0.2);
        border-radius: 8px;
        color: white;
        font-weight: 600;
        letter-spacing: 0.5px;
        word-break: break-all;

        &:hover {
            background-image: linear-gradient(45deg, #ff2e63, #FF9721);
        }
    }
}

.description-task {
    margin: 5px 0 5px 0;
    padding: 5px 0 10px 0;
    border-radius: 10px;
    line-height: 24px;
    // color: white;
}

.your-task {
    font-weight: 700;
    font-size: 125%;
    color: lightcoral;
    margin-right: 7px;
}

.description-bullets {
    background-color: rgba(#fff, 0.08);
    padding: 10px 20px 10px 35px;
    margin: 8px 20px 24px 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px 5px #000b2250;
    font-size: 88%;
    line-height: 25px;
}

.console {
    width: 98%;
    min-height: 250px;
    margin: 10px 0 20px 0;
    align-self: center;
    display: flex;
    box-shadow: 5px 5px 20px 10px #000b22;
}

.console-numbers {
    width: 5%;
    background-color: rgb(223, 223, 223);
    color: #000b229d;
    font-size: 1.2em;
    font-weight: 600;
    padding: 20px 15px;
    border: none;
    border-radius: 5px 0 0 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.console-task {
    width: 95%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: white;
    border-radius: 0 5px 5px 0;
}

form {
    display: flex;
    flex-direction: column;
}

.console-userinput {
    margin: 8px 10px 10px 15px;

    label {
        font-size: 1.1em;
        font-weight: 500;
        color: #000b22a1;
    }

    input[type="text"] {
        font-size: 1em;
        font-family: 'Roboto', sans-serif;
        color: #000b22;
        margin: 0 5px;
        padding: 10px;
        outline: none;
        border-radius: 5px;
        border: 1px solid white;
        background-color: rgba(221, 218, 218, 0.479);
        width: 60%;
    }
}

.console-output {
    display: inline-block;
    width: 90%;
    height: auto;
    color: white;
    font-size: 22px;
    border-radius: 10px;
    margin-left: 5%;
    margin-bottom: 15px;
    margin-top: 10px;
    text-align: center;
    line-height: 30px;
    padding: 15px 10px;
    border: 3px dashed #000b22;
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
}

.console-btn {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.btn {
    width: 160px;
    height: 45px;
    color: white;
    font-weight: 700;
    font-size: 18px;
    font-family: 'Baloo Paaji 2', sans-serif;
    border-radius: 8px;
    text-align: center;
    line-height: 45px;
    margin: 0 30px 10px 30px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.check-btn {
    background-color: #FF9721;
    box-shadow: 2px 3px 7px 0px gray;
    margin: 15px 0;
    border: none;
    outline: none;
    align-self: center;
    appearance: none;

    &:hover {
        background-color: #ffa41b;
        // background-image: linear-gradient(45deg, #ff2e63, #FF9721);
        transition: all 0.5s ease;
    }
}

.next-btn {
    background-color: #ff2e62b7;
    box-shadow: 4px 4px 10px 0px #000b22;
    margin: 10px 48px 20px 0;

    &:hover {
        background-color: #ff2e63;
        transition: all 0.5s ease;
    }
}

@media (max-width: 1600px) {
    .description {
        height: 370px;
        font-size: 1em;
        line-height: 25px;
    }

    .console {
        min-height: 250px;
    }

    .next-btn {
        margin-bottom: 10px;
    }
}

@media (max-width: 1380px) {
    .description {
        height: 360px;
        font-size: 0.9em;
        line-height: 22px;
    }

    .console {
        min-height: 270px;
        margin-top: 10px;
    }

    .console-output {
        padding: 8px;
    }

    .next-btn {
        margin-bottom: 0;
    }
}

@media (max-width: 1260px) {
    .description {
        min-height: 330px;
        height: auto;
        margin-bottom: 30px;
    }

    .console-userinput input[type="text"] {
        width: 45%;
    }
}

@media (max-width: 1000px) {
    .section-right {
        width: 100%;
        height: auto;
        padding: 10px;
    }

    .title {
        padding-left: 10px;
    }

    .console {
        min-height: 280px;
        box-shadow: none;
    }

    .console-userinput input[type="text"] {
        width: 57%;
    }

    .console-output {
        line-height: 30px;
        padding: 10px;
    }

    .description {
        min-height: auto;
        height: auto;
        padding: 0 0 0 8px;
        margin-bottom: 30px;
    }

    .next-btn {
        width: 100%;
        margin: 10px;
        box-shadow: 0 0 20px 0 #000b228a;;
    }

}

@media (max-width: 570px) {
    .description-task {
        padding: 10px 1px;
    }
    
    .description-bullets {
        margin: 8px 0px 20px 0px;
    }

    .console {
        min-height: 300px;
    }
    
    .console-output {
        font-size: 1.2em;
        padding: 5px 10px;
    }

    .console-userinput {
        margin-top: 20px;

        input[type="text"] {
            width: 98%;
            margin-left: -2px;
        }
    }
}
