// SECTION LEFT
.section-left {
    width: 50%;
    background-image: radial-gradient(#13357e 5%, #011541 80%);
    background-image: radial-gradient(closest-side at 50% 50%, #183b86, #011541);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
}

.task {
    color: white;
    font-size: 1.9em;
    font-weight: 400;
    line-height: 35px;
    opacity: 95%;
    background-image: linear-gradient(120deg, rgba(255,255,255, 0.2), rgba(255,255,255,0.02));
    border-radius: 12px;
    text-align: center;
    margin: 0px 10px;
    padding: 20px 30px;

    &:hover {
        background-image: linear-gradient(120deg, rgba(255,255,255, 0.02), rgba(255,255,255,0.2));
    }
}

.game-hint {
    color: white;
    opacity: 0.9;
    font-size: 1.1em;
    font-weight: 500;
    margin: 20px 20px 100px 30px;
    text-align: center;
}

.game {
    width: 75%; //85%
    height: 65%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0;
    cursor: url('../images/magnifying-glass64.png'), auto;
}

.element {
    width: 140px;
    height: 140px;
    border-radius: 10px;
    border: 12px solid transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    box-shadow: 2px 5px 20px 8px #000b22a2;
    margin: 12px 18px;
    position: relative;
    transition: transform .4s ease;

    &:hover {
        transform: scale(1.15, 1.15);
        transition: transform 0.5s ease-out;
        z-index: 99999;
    }
}

.tooltip {
    display: block;
    font-size: 0.9em;
    color: white;
    box-sizing: border-box;
    padding: 15px 20px;
    width: 300px;
    height: auto;
    line-height: 23px;
    background-color: #00143f;
    background-color: #00143fef;
    position: absolute;
    white-space: wrap;
    top: 120px;
    left: 120px;
    border-radius: 2px 25px 25px 25px;
}

@media (max-width: 1660px) {
    .game {
        height: 55%;
    }
    
    .element {
        width: 130px;
        height: 130px;
        margin: 15px 20px;
    }

    .tooltip {
        top: 120px;
        left: 120px;
        padding: 10px 20px;
        width: 250px;
    }
}

@media (max-width: 1380px) {
    .game {
        width: 75%;
        height: 60%;
    }

    .task {
        padding: 15px 20px;
    }

    .element {
        width: 120px;
        height: 120px;
        margin: 10px 10px;
    }

    .tooltip {
        top: 100px;
        left: 100px;
    }
}

@media (max-width: 1224px) {
    .element {
        width: 100px;
        height: 100px;
    }

    .tooltip {
        top: 80px;
        left: 80px;
    }
}

@media (max-width: 1000px) {
    .section-left {
        width: 100%;
        // height: auto;
        padding: 0 20px 20px 20px;
    }

    .task {
        margin-top: 40px;
    }

    .game {
        width: 55%;
        margin: 30px;
        // cursor: none;
    }

    .element {
        width: 95px;
        height: 95px;
        margin: 15px 15px;
    }

    .tooltip {
        top: 90px;
        left: -60px;
        font-size: 0.9em;
        width: 200px;
        // height: 75px;
        height: auto;
        padding: 10px 15px;
        line-height: 19px;
        border-radius: 3px 15px;
    }

    .game-hint {
        margin-bottom: 25px;
    }
}

@media (max-width: 765px) {
    .task {
        margin-top: 70px;
    }
    
    .game {
        width: 75%;
    }

    .element {
        width: 80px;
        height: 80px;
        margin: 15px 15px;
    }

    
    .tooltip {
        top: 75px;
        left: -50px;
        font-size: 0.74em;
        width: 160px;
        // height: 70px;
        height: auto;
        padding: 8px 12px;
        line-height: 17px;
    }
}

@media (max-width: 560px) {
    .task {
        padding: 10px 15px;
        font-size: 1.6em;
        margin-top: 100px;
    }

    .game {
        width: 82%;
        margin: 30px;
        min-height: 220px;
    }

    .game-hint {
        font-size: 1em;
    }

    .element {
        width: 70px;
        height: 70px;
    }

    .tooltip {
        width: 150px;
        top: 68px;
        left: -50px;
    }
}