@import 'variables';

@import 'reset';

@import 'elements';
@import 'welcome';
@import 'sectionleft';
@import 'sectionright';



*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Baloo Paaji 2', cursive;
    background-color: #011541;
}

a {
    text-decoration: none;
}

// SCROLLBAR
::-webkit-scrollbar {
    width: 11px;
}

::-webkit-scrollbar-track {
    background: #000b22;
    margin: 5px;
}

::-webkit-scrollbar-thumb {
    background: rgba(240, 239, 239, 0.644);
    border-radius: 5px;
    border: 4px solid #000b22;
}

// FLEX
.container {
    width: calc(100vw - 50px);
    min-height: 800px;
    padding: 0;
    margin: 0 auto;
    display: flex;
}

@media(max-width: 1000px) {
    .container {
        width: 100vw;
        display: flex;
        flex-direction: column;
        height: auto;
    }
}
