*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Baloo Paaji 2', cursive;
}

.container {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    display: flex;
}


// SECTION LEFT
.section-left {
    width: 50%;
    height: 100%;
    background-image: radial-gradient(#092563 15%, #011541 70%);
    // background-color: rgb(5, 29, 82);
    // background-color: rgba(1, 10, 67, 0.2);
    // background-color: #0c7b93;
    // background-color: #ffc2c2;
    // background-color: rgb(1, 10, 67);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.counter {
    width: 280px;
    height: 40px;
    color: #092563;
    display: flex;
    justify-content: space-between;
    text-align: center;
    line-height: 40px;
    margin-top: 20px;
}

#counter-prev {
    // background-color: #00a8cc;
    background-color: #ff9d9d;
    width: 15%;
    border-radius: 20px 2px 2px 20px;
    transition: all 0.5s ease;
    cursor: pointer;

    &:hover {
        opacity: 70%;
        transition: all 0.5s ease;
    }
}

#counter-level {
    width: 65%;
    background-color: #ffc2c2;
    font-size: 1.3rem;
    font-weight: 600;
    border-radius: 2px;
}

#counter-next {
    // background-color: #00a8cc;
    background-color: #ff9d9d;
    width: 15%;
    border-radius: 2px 20px 20px 2px;
    transition: all 0.5s ease;
    cursor: pointer;
    
    &:hover {
        opacity: 70%;
        transition: all 0.5s ease;
    }
}

.game-hint {
    color: white;
    opacity: 0.7;
    font-size: 19px;
    font-weight: 500;
    margin-bottom: 20px;
}

.game {
    width: 70%;
    height: 75%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.el {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background-color: #0c7b93;
    // background-color: #FF8704;
    box-shadow: 0 5px 25px 5px #000b22;
    margin: 10px 20px;
    padding: 0;
    position: relative;
    transition: all 2s ease;

    &:hover {
        transform: scale(1.15, 1.15);
        transition: all 0.8s ease;
        z-index: 1;
    }

    &:hover::after  {
        content: '< tag class="klasa1 klasa2" id="id1 id2" >< /tag >';
        font-size: 1.2rem;
        color: white;
        box-sizing: border-box;
        padding: 10px 10px 10px 20px;
        display: block;
        width: 250px;
        height: 90px;
        background-color: #ff2e63;
        position: absolute;
        top: 120px;
        left: 90px;
        z-index: 999;
        border-radius: 2px 45px 45px 25px;
    }
}


// SECTION RIGHT
.section-right {
    width: 50%;
    height: 100%;
    // background-color: #000b22;
    // background-color: rgb(1, 10, 67);
    background-color: #142850;
    box-shadow: 0px 0 20px 2px #020235;
    box-shadow: 0 0 20px 2px #000b22;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 5px 30px 40px 40px;
}

.title {
    color: #ff9d9d;
    // color: #FF8704;
    font-size: 2.7em;
    font-weight: 700;
    margin-bottom: 10px;
    margin-top: 5px;
}

.description {
    color: #f8eeee;
    line-height: 28px;
    font-size: 17px;
    width: 90%;

    .bold {
        display: inline-block;
        padding: 1px 10px;
        background-color: rgba(#33bfdf, 0.25);
        border-radius: 5px;
        color: white;
        font-weight: 600;
        letter-spacing: 1px;
    }
}

.console {
    width: 95%;
    height: 40%;
    margin: 50px 0 20px 0;
    align-self: center;
    display: flex;
    box-shadow: 5px 5px 40px 10px #000b22;
}

.console-numbers {
    width: 5%;
    background-color: rgba(white, 0.3);
    color: white;
    font-size: 1.2em;
    font-weight: 600;
    padding: 15px 15px;
    border-radius: 5px 0 0 5px;
}

.console-task {
    width: 95%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: white;
    border-radius: 0 5px 5px 0;
}

.output {
    display: block;
    width: 90%;
    height: 80px;
    color: white;
    font-size: 25px;
    background-color: #FF8704;
    border-radius: 10px;
    margin-left: 5%;
    text-align: center;
    line-height: 74px;
    border: 3px dashed #000b22;
}

.console-buttons {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-left: 5%;
}

.btn {
    width: 150px;
    height: 45px;
    background-color: #ff2e63;
    color: white;
    font-weight: 700;
    border-radius: 8px;
    text-align: center;
    line-height: 45px;
    margin: 0px 30px 30px 30px;
    box-shadow: 5px 5px 20px 0px #000b22;
    transition: all 0.5s ease;

    &:hover {
        background-color: #ff2e62b7;
        transition: all 0.5s ease;
    }
}


// WELCOME
.welcome {
    width: 900px;
    height: 600px;
    background-image: linear-gradient(90deg, #FF8704, #ff2e63);
    border-radius: 30px;
    position: absolute;
    z-index: 99999;
    top: calc(50% - 300px);
    left: calc(50% - 450px);
    padding: 0 50px;
    text-align: center;

    h1 {
        margin: 20px 0;
    }

    p {
        line-height: 20px;
        display: block;
        margin: 0;        

        &:first-of-type {
            font-size: 25px;
            line-height: 27px;
            margin: 25px 0;
        }

        &:nth-of-type(2),
        &:last-of-type {
            text-align: justify;
            color: #2d2f35;
            font-size: 17px;
            margin: 20px;
        }
    }

    h3 {
        padding: 30px;
    }

    .monsters {
        display: flex;
        justify-content: center;

        div {
            width: 80px;
            height: 80px;
            background-color: #ffc2c2;
            margin: 5px;
        }
    }
}

.welcome-close-btn {
    background-color: #96d3e0;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
}


