@import 'variables';

@import 'reset';

@import 'elements';
@import 'welcome';
@import 'header';
@import 'sectionleft';
@import 'sectionright';
@import 'footer';



*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Baloo Paaji 2', cursive;
    background-color: #011541;
}

a {
    text-decoration: none;
}

// SCROLLBAR
::-webkit-scrollbar {
    width: 11px;
}

::-webkit-scrollbar-track {
    background: #000b22;
    margin: 5px;
}

::-webkit-scrollbar-thumb {
    background: rgba(240, 239, 239, 0.644);
    border-radius: 5px;
    border: 4px solid #000b22;
}

// THE APP
.header {
    width: 100%;
    height: 110px; 
    background-image: linear-gradient(#000b22, transparent);
    display: flex;
    justify-content: space-between;
    position: relative;
}

.container {
    width: calc(100vw - 50px);
    min-height: 850px;
    padding: 0;
    margin: 0 auto;
    display: flex;
}

.footer {
    width: 100%;
    height: 120px; 
    background-image: linear-gradient(transparent, #000b22);
    padding-top: 30px;
}

@media(max-width: 1000px) {    
    .container {
        width: 100vw;
        display: flex;
        flex-direction: column;
        height: auto;
    }
}

@media (max-width: 410px) {
    .footer {
        height: 140px;
    }
}
