@import 'variables';

@import 'reset';

@import 'elements';
@import 'welcome';
@import 'header';
@import 'sectionleft';
@import 'sectionright';
@import 'footer';



*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Baloo Paaji 2', cursive;
    font-size: 18px;
    background-color: #011541;
}

a {
    text-decoration: none;
}

// SCROLLBAR
::-webkit-scrollbar {
    width: 9px;
}

::-webkit-scrollbar-track {
    background: #000b22;
}

::-webkit-scrollbar-thumb {
    background: #4f6294;
    border-radius: 10px;

    &:hover {
        background: #ff7aa8;
    }

}

// THE APP
.header {
    width: 100%;
    height: 160px; //85px
    background-image: linear-gradient(#000b22, transparent);
    display: flex;
    justify-content: space-between;
    position: relative;
}

.container {
    width: calc(100vw - 50px);
    min-height: 750px;
    height: auto;
    padding: 0;
    margin: 0 auto;
    display: flex;
}

.footer {
    width: 100%;
    height: 260px; //150px
    background-image: linear-gradient(transparent, #000b22);
    padding-top: 95px; //25px
}


@media (max-width: 1600px) {
    body {
        font-size: 16px;
    }

    .container {
        min-height: 700px;
    }
}

@media (max-width: 1000px) {
    body {
        font-size: 14px;
    }

    .header {
        height: 90px;
    }

    .container {
        width: 100vw;
        display: flex;
        flex-direction: column;
        height: auto;
    }

    .footer {
        height: 270px;
        padding-top: 80px;
    }
}

@media (max-width: 410px) {
    .footer {
        height: 340px;
    }
}
